{% extends 'base.html' %}
{% load signoff_tags %}

{% block title %}Terms of Service - Powderflask News{% endblock %}

{% block content %}
<div class="col-md-8 offset-md-2">
    <div class="terms-of-service pb-3">
        <h1>Terms of Service Agreement</h1>
        <hr>
        <p>{{ terms.terms }}</p>
    </div>
    <div class="signoffs simple-signoff">
        {% render_signoff terms.terms_signoff "form" %} {# specifying "form" is redundant, only for verbosity #}
    </div>
    {% if messages %}
    <div class="mt-5">
        <h6>Something went wrong...</h6>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}