{% if signoff_form and is_signable %}
    <form method="post" class="signoffs signoff-{{ signoff.slug }}" action="{{ signoff.urls.get_save_url }}">
        {% csrf_token %}
        <div class="signoff-form mb-3">
            {% for field in signoff_form %}
                {% if not field.is_hidden %}
                    {{ field.label_tag }}
                    {{ field }}
                    <p><small>{{ field.help_text }}</small></p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="form-actions">
            <button class="btn btn-sm btn-primary" name="signoff_save" type="submit">
                {{ submit_label }}
            </button>
        </div>
    </form>
{% endif %}