{% extends 'base.html' %}
{% load signoff_tags %}

{% block title %}{{ article.title }} by {{ article.author }} - Powderflask News{% endblock %}

{% block content %}
<div class="col-md-8 offset-md-2">
    <div class="article-detail pb-3">
        <h1>{{ article.title }}</h1>
        <hr>
        <div class="signoffs simple-signoff mb-3">
            {% render_signoff article.publish_signoff "signet" %}
        </div>
        <p><strong>Author:</strong><br>{{ article.get_author_name }}</p>
        <p><strong>Summary:</strong><br>{{ article.summary }}</p>
        <p><strong>Article:</strong><br>{{ article.article_text }}</p>
    </div>

    <div class="interaction-buttons pb-5">
        {% if request.user != article.author %}
            <form method="post" action="{% url 'like_article' article.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">
                    {% if request.user in article.likes.all %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                    ({{ article.total_likes }})
                </button>
            </form>
        {% else %}
            <div class="btn-group" role="group">
                <form method="get" action="{% url 'edit_article' article.pk %}">
                    <button type="submit" class="btn btn-primary">Edit Article</button>
                </form>
                <div class="mx-2"></div>
                <form method="post" action="{% url 'delete_article' article.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete Article</button>
                </form>
            </div>
        {% endif %}
    </div>

    {#        <br>#}
    {#        <form method="post" action="{% url 'save_article' article.pk %}">#}
    {#            {% csrf_token %}#}
    {#            <button type="submit" class="btn btn-secondary">#}
    {#                {% if request.user in article.saves.all %}#}
    {#                    Unsave#}
    {#                {% else %}#}
    {#                    Save#}
    {#                {% endif %}#}
    {#                ({{ article.total_saves }})#}
    {#            </button>#}
    {#        </form>#}


    <div class="comments-section pb-3">
        <h3>Comments</h3>
        {% for comment in past_comments %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">{{ comment.comment_text }}</p>
                {% render_signoff comment.comment_signoff.get "signet" %}
            </div>
        </div>
        {% endfor %}
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Post Comment</button>
    </form>
</div>
{% endblock %}