{% extends 'base.html' %}
{% load static %}
{% load signoff_tags %}
{% block content %}
<div class="container mt-4 offset-md-4">
    <div class="article-detail">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title</label>
                <div></div>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="{{ form.summary.id_for_label }}">Summary</label>
                <div></div>
                {{ form.summary }}
            </div>
            <div class="form-group">
                <label for="{{ form.article_text.id_for_label }}">Article Text</label>
                <div></div>
                {{ form.article_text }}
            </div>
            <div class="btn-group" role="group">
                <label for="save-changes-btn" class="btn btn-primary">Save Changes</label>
                <button hidden="hidden" id="save-changes-btn" type="submit" class="btn btn-primary"></button>
                <div class="mx-2"></div>
                <label for="delete-article-btn" class="btn btn-danger">Delete Article</label>
            </div>
        </form>
        <form method="post" action="{% url 'delete_article' article.pk %}">
            {% csrf_token %}
            <input hidden="hidden" id="delete-article-btn" type="submit">
        </form>
    </div>
</div>
{% endblock %}
